<h1>Please enter the word you are searching for and the sentence you are searching from</h1>
<form action ="/result" method="post">
  <label for="wordToSearh">Please enter a word to search</label>
  <input type="text" name="wordToSearh">
  <label for="sentence">Please enter a sentence to search from</label>
  <input type="text" name="sentence">
  <button type="submit">Get Count</button>
</form>
