@Html.Partial("header.cshtml")
<body class ="resultBody">
  <div class="container">
    <div class="jumbotron result">
      <h2>@Model</h2>
      <a href ="/"><button class ="btn btn-info">Back to main</button></a>
    </div>
  </div>
</body
