body{
  align-items: center;

}

.jumbotron {
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 100px;
}

.form-group {
  border-style: outset;
  box-shadow: 10px 10px 5px #888888;
}

form {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;;
}

label {
  margin-left: 20px;
}

.btn-info {
  margin-top: 75px;
}

.result {
  margin-top: 50%;
  background: rgba(248, 248, 245, 0.5);
}
.resultBody {
  background-image: url("grass.jpg");

}
